* {
    margin: 0;
    padding: 0;
}
body {
    background: #9c27b0;
    display: flex;
    overflow: auto;
    flex-direction: column;
}
#loader {
    color: white;
}
#instructions {
    margin: 30px auto;
}
